<settings>
    <!-- History -->
    <category label="30700">
        <setting label="30702" id="history-list-type" type="enum" lvalues="30703|30704" default="1"/>
        <setting label="30701" type="slider" id="history-size-limit" default="150" range="0,500" option="int"/>
        <setting label="30707" id="history-add-on-play" type="bool" default="true"/>
        <setting type="sep"/>
        <setting label="30102" id="clear-history" type="action" action="RunPlugin(plugin://$ID/?mode=clearhistory)"/>
    </category>
    <!-- Maintenance -->
    <category label="30713">
        <setting label="30711" type="slider" id="cache-expire-time" default="1" range="0,8" option="int"/>
        <setting label="30710" id="clear-cache" type="action" action="RunPlugin(plugin://$ID/?mode=clearcache)"/>
        <setting label="30714" id="clear-cookies" type="action" action="RunPlugin(plugin://$ID/?mode=clearcookies)"/>
    </category>
    <!-- Export -->
    <category label="30708">
        <setting label="30706" id="export_path" type="folder" source="" option="writeable"/>
        <setting label="30715" id="export_path_strm" type="folder" source="" option="writeable"/>
    </category>
    <!-- Resolvers -->
    <category label="30709">
        <setting label="30705" id="urlresolver-settings" type="action" option="close" action="RunPlugin(plugin://$ID/?mode=urlresolver)"/>
        <setting label="30712" id="youtube-dl-settings" type="action" option="close" action="RunPlugin(plugin://$ID/?mode=ytdl)"/>
    </category>
    <!-- Remote -->
    <category label="30716">
        <setting label="30717" id="remote-ip" type="ipaddress" default=""/>
        <setting label="30718" id="remote-port" type="number" default="8080"/>
        <setting label="30719" id="remote-username" type="text" default="kodi"/>
        <setting label="30720" id="remote-password" type="text" option="hidden" default=""/>
        <setting label="30723" id="resolve-locally" type="bool" default="true"/>
        <setting label="30721" type="lsep"/>
        <setting label="30722" type="lsep"/>
    </category>
</settings>
